body  { background-image: url("../images/black.jpg"); }

#page-wrapper { background-image: url("../images/repeating.png");
float: left;}

#header { position: absolute;
left: 420px;
top:5px;
font-size: 3em;
font-family: 'Devonshire', cursive;
color: #E35335;}

#header h1

#header a#logo1 img

#header #toplink

#footer

#content-wrapper

#main-content

h2 strong

.imageR

#side-content

#main-nav

#main-nav ul

#main-nav ul li